@using RestCharpCourse.Services;
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Todo>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>


<table class="table table-stripe">

    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>UserId</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
           <tr>
                <td>@m.Id</td>
                <td>@m.Title</td>
                <td>@m.Body</td>
                <td>@m.UserId</td>
           </tr>
        }
    </tbody>
</table>
